<div class="post-preview" data-id="{{id}}">
    <div class="header">
        <h2>{{title}}</h2>
        <h3>{{format_author_timestamp _user createdAt}}</h3>
    </div>

    <p class="content">{{content}}</p>
</div>