<div class="login-form-container">
    <h2>Log In</h2>
    <form id="login-form">
        <div>
            <label>Username</label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password</label>
            <input type="password" id="password-login" autocomplete="on" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <a href="/signup">Sign Up instead</a>
</div>

<script src="./js/login.js"></script>