<form class="blog-form" id="new-post-form">
    <h3 class="header">
        Create New Post
    </h3>
    <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" id="post-title">
    </div>
    <div class="form-group">
        <label for="post-content">Content</label>
        <textarea id="post-content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
</form>

<script src="/js/post.js"></script>