<section class="blog-container" id="blog-container">
    {{> blog-preview post}}

    {{#if post.comments.length}}
        <ul id="comments-list">
            {{#each post.comments as |comment|}}
                <li>
                    <h3>Comment</h3>
                    <div>
                        <p>{{comment.content}}</p>
                        <h4>— {{comment._user.username}}, {{format_date comment.createdAt}}</h4>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{/if}}

    {{#if logged_in}}
        <form class="blog-form" id="new-comment-form" data-id="{{post.id}}">
            <h3 class="header">
                Add Comment
            </h3>
            <div class="form-group">
                <label for="post-content">Comment</label>
                <textarea id="post-content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
    {{/if}}
</section>

<script src="/js/comments.js" defer></script>