<div class="login-form-container">
    <h2>Sign Up</h2>
    <form id="signup-form">
        <div>
            <label>Username</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" autocomplete="on" />
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>

    <a href="/login">Log In instead</a>
</div>

<script src="./js/login.js"></script>