/* Navbar CSS */
nav {
  background-color: var(--secondary);
  padding: 1em 2em;
  gap: 1em;
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 4em;
  font-size: 1.25em;
}

nav li {
  color: var(--primary);
}

nav a,
nav button {
  color: var(--primary);
}

nav button {
  background: none;
  border: none;
  font-size: inherit;
}

nav header {
  width: max-content;
  padding: 10px 0.5em;
  color: var(--secondary);
  font-weight: 800;
  font-size: 2em;
  border-radius: 15px;
  background: var(--primary);
  box-shadow: 8px 5px 0px var(--tertiary);
}

/* MEDIA QUERIES */
@media (min-width: 768) {
  nav {
    padding: 2em 4em;
  }
}
